<% var title = 'Login' %>
<% include head %>

<h1>Users List</h1>
<div class="container" id="container">
 <table class="gridtable" id="tableMain">
  <thead>
      <tr class="tableheader">
        <th>WorkerName</th>
        <th>FatherName</th>
        <th>AadharNumber</th>
        <th>MobileNumber</th>
        <th>Select</th>
      </tr>
    </thead>
<% for(var i=0; i < users.length; i++) { %>
   <tr class="datarow">
     <td><%= users[i].WorkerName %></td>
     <td><%= users[i].FatherName %></td>
     <td><%= users[i].AadharNumber %></td>
     <td><%= users[i].MobileNumber %></td>
     <td><input type="checkbox" name="check"/></td>
   </tr>
<% } %>
</table>

</div>
<button id="myBtn">Get Pdf</button>

<script>
  const pdf = new jsPDF();
document.getElementById("myBtn").addEventListener("click", function(){
   pdf.text(10, 10, `${input}`);
   pdf.save();
});
</script>
<% include foot %>