<% var title = 'Login' %>
<% include head %>

<h1>Login</h1>
<div>
 <form action="/user" method="GET">
   <input type="submit" name="findAll" value="findAll">
 </form>
 <form action="/user" method="GET">
   <input type="submit" name="findAll" value="latest">
 </form>

  <!-- <button onclick="location.href='/user'" type="button">Find Latest</button> -->

</div>

<% include foot %>