<% var title = 'Login' %>
<% include head %>

<h1>Welcome</h1>

<div>
  <!-- <input type="button" onclick="location.href('login');" value="Redirect"> -->
  <a href="/login">Login</a>
</div>


<% include foot %>